@import "styles/settings/__settings";

.container {
  @media (min-width: theme("screens.2xl")) {
    padding: 0 10rem;
  }

  @media (min-width: theme("screens.xl")) {
    padding: 0 8rem;
  }

  @media (min-width: theme("screens.lg")) {
    padding: 0 4rem;
  }

  @media (min-width: theme("screens.sm")) {
    padding: 0 4rem;
  }

  padding: 0 1rem;
  margin: 0 auto;
}
